<section id="home" class="text-gray-700 body-font min-h-screen">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <article class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-6xl text-3xl mb-4 font-medium text-gray-900">Hola
          <br>Soy Alex Avila<br>Frontend Developer <span class="text-xl sm:text-4xl"></span>
      </h1>
      <p class="mb-8 leading-relaxed">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae tempora repellat. Porro voluptates, non dolor atque quasi minus vero, ex sequi reiciendis ullam distinctio, dolores accusantium sit repellat nobis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae tempora repellat. Porro voluptates, non dolor atque quasi minus vero, ex sequi reiciendis ullam distinctio, dolores accusantium sit repellat nobis!
      </p>
      <div class="flex justify-center">
        <button class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">
          Contacto
        </button>
      </div>
    </article>
    <article class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="rounded-full w-[450px] h-[450px] object-cover" src="https://images.unsplash.com/photo-1559526323-cb2f2fe2591b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    </article>
  </div>
</section>
