<main class="overscroll-auto">
  <!-- HEADER -->
  <app-header />
  <!-- HEADER -->
  <!-- HOME -->
  <app-home />
  <!-- HOME -->

  <ng-template #contentSlot />

  <ng-container *ngIf="flowState$ | async as state">
    <ng-template *ngIf="state === 'IN_PROGRESS'" [ngTemplateOutlet]="loaderTmpl" />
    <ng-template *ngIf="state === 'FAILED'" [ngTemplateOutlet]="errorTmpl" />
  </ng-container>

  <ng-template #loaderTmpl>
   <app-skeleton />
  </ng-template>
  <ng-template #errorTmpl>
    <p class="text-center text-red-700 text-xl">
      Oops, ocurrió un error!
    </p>
  </ng-template>

  <!-- FOOTER -->
  <app-footer />
  <!-- FOOTER -->
</main>
